//color variables
$primary: #05080e;
$secondary: #c3efd4;
$gray: rgba(193, 193, 193, 1);
$white: #ffffff;

//typography Desktop
$h1d: 120px;
$h2d: 50px;
$h3d: 45px;
$pd: 20px;
$pld: 16px;

//typography tablet
$h1t: 60px;
$h2t: 28px;
$h3t: 22px;
$pt: 16px;
$plt: 14px;

//typography mobile
$h1m: 34px;
$h2m: 22px;
$h3m: 18px;
$pm: 14px;
$plm: 12;

//fonts
$normal: boska, sans-serif;
$italic: boskaItalic, sans-serif;
$lightItalic: boskaLight, sans-serif;

//paddings
$base-padding: 30px 75px;
