//Header styles
.header {
  width: 100%;
  padding: 10px 80px;
  z-index: 9;
  max-width: 1440px;
  margin: 0 auto;

  @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
    padding: 10px 20px;
  }

  @media screen and(max-width: 768px) {
    // padding: 15px 80px;
  }

  .navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    position: sticky;
    top: 0;

    .brandLink {
      cursor: pointer;
      span {
        cursor: pointer;
        color: $white;
      }
    }

    .menu {
      cursor: pointer;

      width: 8%;
      cursor: pointer;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
      }
      @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
        width: 15%;
      }

      @media screen and(max-width: 768px) {
        width: 15%;
      }

      .menuText {
        width: 50%;
        display: inline-block;
        text-align: center;
        cursor: pointer;

        @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
          display: none;
        }
        @media screen and(max-width: 768px) {
          display: none;
        }
      }
      .menuIcon {
        cursor: pointer;

        display: flex;
        width: 50%;
        height: 100%;
        // background-color: rebeccapurple;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
          width: 100%;
        }
        @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
          width: 100%;
        }
        @media screen and(max-width: 768px) {
          margin-left: auto;
        }

        .line {
          width: 35%;
          height: 1px;
          background-color: $white;
        }
        .line-1 {
          transform: translateY(-4px);
        }
        .line-2 {
          transform: translateY(4px);
        }
      }
    }
  }
}

// NavLinks styles
.nav-container {
  width: 100%;
  background-color: #05080e75;
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;

  nav {
    width: 50%;
    height: 100%;
    background-color: $secondary;
    margin-left: auto;
    padding: 35px 45px 35px 100px;

    @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
      width: 100%;
      padding: 35px 35px;
    }
    @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
      width: 100%;
      padding: 35px;
    }

    @media screen and(max-width: 768px) {
      width: 100%;
      // padding: 35px 45px 35px 100px;
    }
    .close-btn {
      margin-left: auto;
      height: 50px;
      width: 100px;
      color: $primary;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        color: $primary;
        cursor: pointer;

        .ic {
          cursor: pointer;
        }
      }
    }
    .links {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      height: 80%;

      @media screen and(max-width: 768px) {
        padding-right: 100px;
      }

      .social {
        width: 30%;
        height: 100%;
        @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
          width: 40%;
        }
        @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
          width: 40%;
        }
        figure {
          color: rgba(0, 0, 0, 0.459);
        }
        .social-links {
          display: flex;
          flex-direction: column;
          height: 78%;
          justify-content: space-evenly;
          margin-top: 15px;

          .s-link {
            font-size: $pd;
            color: $primary;
            font-weight: 400;
            width: 100%;
            cursor: pointer;

            // background-color: red;
            @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
              font-size: 14px;
            }
            @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
              font-size: 14px;
            }
            @media screen and(max-width: 768px) {
              font-size: 16px;
            }
            span {
              color: $primary;
              display: block;
              pointer-events: none;
              transition: transform 0.1s linear;
            }
          }
        }
      }
      .s-link {
        font-size: $pd;
        color: $primary;
        font-weight: 400;
        cursor: pointer;
      }

      .menu {
        width: 55%;

        figure {
          color: rgba(0, 0, 0, 0.459);
        }
        .menu-links {
          display: flex;
          flex-direction: column;
          height: 75%;
          justify-content: space-evenly;
          margin-top: 25px;
          // cursor: pointer;

          .m-link {
            font-size: $h2d;
            color: $primary;
            font-weight: 600;

            span {
              color: $primary;
              transition: transform 0.1s linear;
              // pointer-events: none;
              display: inline-block;
              cursor: pointer;
            }
            @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
              font-size: 28px;
            }
            @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
              font-size: 28px;
            }
            @media screen and(max-width: 768px) {
              font-size: 34px;
            }
          }
        }
      }
    }

    .gmail {
      margin-top: -20px;
      figure {
        color: rgba(0, 0, 0, 0.459);
      }

      .gmail-link {
        .s-link {
          font-size: $pd;
          color: $primary;
          font-weight: 400;

          @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
