// Fonts
@font-face {
  font-family: inter;
  src: url("./fonts/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face {
  font-family: boska;
  src: url("./fonts/Boska-Bold.otf");
}
@font-face {
  font-family: boskaItalic;
  src: url("./fonts/Boska-BoldItalic.otf");
}

//imports
@import "./Css/variables";
@import "./Layouts/Footer/footer";
@import "./Layouts/Header/header";
@import "./Layouts/pages/home/home";
@import "./Layouts/pages/about/about";
@import "./Layouts/pages/works/project";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  // color: $white;
  cursor: auto;

  body {
    background-color: $primary;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  img {
    width: 100%;
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  h5,
  figure,
  div,
  button {
    color: $white;
  }
}
.App {
  width: 100%;
  overflow: hidden;
  background-color: $primary;
  font-family: inter, sans-serif;
}
.custom-cursor {
  width: 150px;
  height: 100px;
  // background-color: red;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  z-index: 9;
  pointer-events: none;

  @media only screen and(min-width: 350px) and (max-width: 650px) {
    display: none;
  }

  .layer-one {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180.06deg,
      rgba(153, 0, 191, 0.28) -18.19%,
      rgba(0, 78, 228, 0.52) 110.13%
    );
    filter: blur(50px);
  }
  .layer-two {
    background: linear-gradient(
      180.01deg,
      rgba(0, 9, 213, 0.65) -8.02%,
      #64ffb2 85.64%
    );
    filter: blur(100px);
    width: 100%;
    height: 100%;
  }
}
.coming-soon-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .vector-img {
    width: 150px;
    height: 150px;
    margin-top: -80px;

    @media only screen and(min-width: 350px) and (max-width: 650px) {
      width: 178px;
      height: 186px;
    }
  }
  .coming-text {
    width: 40%;
    text-align: center;
    @media only screen and(min-width: 350px) and (max-width: 650px) {
      width: 80%;
    }

    h2 {
      margin-top: 40px;
    }
    p {
      margin-top: 15px;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
    }
    .coming-link {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      width: 135px;
      height: 55px;
      margin: 30px auto 0 auto;
      background: #ffffff;
      border-radius: 100px;
      color: $primary;
    }
  }
}
.arrows {
  width: 50%;
  margin-left: 14px;
}
.down-arrow {
  width: 50%;
  transform: rotate(90deg);
}

.loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;

  @media only screen and (min-width: 350px) and (max-width: 650px) {
    height: 100vh;
  }
}
