.footer {
  width: 100%;
  background-color: $secondary;

  @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
    padding: 45px 10px;
  }
  //top footer style
  .foot-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px 110px 0 110px;
    max-width: 1440px;
    margin: 0 auto;

    @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
      flex-direction: column;
      padding: 0 20px;
    }
    @media screen and(max-width: 768px) {
      flex-direction: column;
      // padding: 0 150px;
    }

    .left-foot {
      width: 42%;

      @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
        width: 100%;
      }
      @media screen and(max-width: 768px) {
        width: 100%;
      }

      .headings {
        h2 {
          color: $primary;
          font-size: 50px;
          line-height: 100%;
          font-weight: 700;

          @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
            font-size: 24px;
            font-weight: bold;
          }
          @media screen and(max-width: 768px) {
            font-size: 22px;
            line-height: 120%;
            font-weight: bolder;
            width: 70%;
          }
        }
      }
      .foot-social {
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin-top: 20px;
        font-size: $pld;
        color: $primary;
        text-decoration: underline;
        // padding: 0 20px 0;

        @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
          font-size: 12px;
          text-decoration: underline;
          flex-direction: column;
        }
        @media screen and(max-width: 768px) {
          font-size: 14px;
        }

        .m-link {
          color: $primary;

          .span {
            color: $primary;
          }
        }
      }
      form {
        width: 100%;
        margin-top: 20px;
        display: flex;

        @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
          flex-direction: column;
          align-items: flex-start;
          margin-top: 35px;
        }

        button {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: none;
          background-color: $primary;
          margin-left: 10px;

          @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
            // margin-top: 20px;
            // margin-left: 0;
            margin: 20px auto 0 auto;
          }
        }

        input {
          width: 89%;
          height: 64px;
          outline: none;
          border: 1px solid #05080e;
          border-radius: 100px;
          padding: 20px 25px;
          color: $primary;
          font-size: $pd;
          background-color: $secondary;
          transition: background-color 0.2s ease-in-out;

          &:focus {
            background-color: $white;
            transition: background-color 0.2s ease-in-out;
          }
          @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
            height: 54px;
            font-size: 14px;
          }
          @media screen and(max-width: 768px) {
            height: 58px;
            font-size: 16px;
            width: 100%;
          }
        }
      }
    }
    .right-foot {
      width: 40%;
      @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
        width: 100%;
        margin-top: 80px;
      }
      @media screen and(max-width: 768px) {
        width: 100%;
        margin-top: 80px;
      }

      .title {
        h2 {
          color: $primary;
          font-size: $h2d;
          font-weight: 700;
          @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
            font-size: 28px;
          }
          @media screen and(max-width: 768px) {
            font-size: 22px;
            line-height: 120%;
          }
        }
      }
      .para {
        color: $primary;
        font-size: $pld;
        margin-top: 20px;
        @media screen and(max-width: 768px) {
          font-size: 14px;
        }
      }
      .star {
        margin-top: 20px;
        width: 55px;
        height: 55px;
      }
    }
  }

  //bottom footer style
  .foot-bottom {
    // margin-top: 110px;
    padding-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 0.5px solid #05080e;
    max-width: 1440px;
    margin: 110px auto 0 auto;

    .marvis {
      color: $primary;
      margin-right: 10px;
    }
    .privacy {
      .m-link {
        color: $primary;
        margin-left: 10px;
      }
    }
  }
}
.span {
  color: $primary;
}
